.logo {
    height: 40px;
    margin-right: 16px;
}

.mat-toolbar {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .sub-toolbar {
        width: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            border-color: var(--primary-blue);
            color: var(--primary-blue);
            border-radius: 10px;
            line-height: 22px;
            font-weight: 600;
            padding-left: 20px;
            padding-right: 20px;
        }

        .mat-icon {
            color: var(--primary-blue);
        }
    }
}