// form styles
form {
    margin-top: 30px;
    width: 100%;
}

// custom mat button styles
.mat-mdc-raised-button {
    color: #ffffff !important;
    background-color: var(--primary-blue-button) !important;

    padding: {
        left: 10%;
        right: 10%
    };

    
    border-radius: 10px;
}

.example-full-width {
    width: 100%;
}

:host ::ng-deep .mdc-text-field--outlined {
    --mdc-outlined-text-field-container-shape: 15px;
}
